<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946730152685-1h9epf7gair63m46anv13uk74jh8vppn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946730152685-1h9epf7gair63m46anv13uk74jh8vppn</string>
	<key>API_KEY</key>
	<string>AIzaSyARsztOcB6Ird5GhUAUwhpBRNgScXDT_iE</string>
	<key>GCM_SENDER_ID</key>
	<string>946730152685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prapawity.messagingapp</string>
	<key>PROJECT_ID</key>
	<string>messagingapp-8c65a</string>
	<key>STORAGE_BUCKET</key>
	<string>messagingapp-8c65a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946730152685:ios:25380c484a1586c8ebd2e4</string>
	<key>DATABASE_URL</key>
	<string>https://messagingapp-8c65a.firebaseio.com</string>
</dict>
</plist>